services:
    -
        class: PrinsFrank\PhpStrictModels\Development\PHPStan\Extension\ModelPropertiesReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
rules:
    - PrinsFrank\PhpStrictModels\Development\PhpStan\Rule\NoPublicPropertiesOnModelRule
